/* Appartment.css */
.Appartment-link {
    width: 340px;
    height: 340px;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

.Appartment {
    border-radius: 1rem;
    position: relative;
    width: 340px;
    height: 340px;
}

.Appartment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.Appartment h2 {
    width: 100%;
    /* Ajustez la largeur selon vos besoins */
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 0;
    /* Positionne le titre au bas */
    left: 5px;
    /* Positionne le titre au début */
}

@media (max-width: 767.90px) {
    .Appartment-link {
        width: 100%;
        height: 255px;
    }

    .Appartment {
        width: 100%;
        height: 255px;
    }
}