/* Conteneur des cartes */
.Card {
    background-color: #f6f6f6;
    /* Zone grise derrière les cartes */
    margin: 20px auto;
    /* Centre le conteneur */
    border-radius: 2rem;
    /* Bordure arrondie */
    display: flex;
    flex-wrap: wrap;
    /* 3 colonnes sur les grands écrans */
    gap: 2rem;
    /* Espacement entre les cartes */
    padding: 30px;
    /* Padding autour des cartes */
    width: 95%;
    /* Largeur du conteneur ajustée pour plus de flexibilité */
    max-width: 1600px;
    /* Largeur maximale étendue */
    box-sizing: border-box;
    /* Inclut le padding dans la largeur totale */
    justify-content: center;
}

@media (max-width: 767.90px) {
    .Card {
        padding: 20px;
        flex-direction: column;
    }
}