.Error {
    color: #ff6060;
    text-align: center;
}

.Error h1{
font-size: 288px;
margin-bottom:0.5rem;
}

.Error h2 {
    font-size: 28px;
    font-weight: 400;
}

.Error a {
    color: black;

}

