/* HomeBanner.css */
.banner-container {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    /* Légère marge en haut et en bas */
    width: 100%;
    /* Prend toute la largeur de l'écran */
}

.banner {
    position: relative;
    width: 100%;
    /* Prend 80% de la largeur de l'écran */
    max-width: 1240px;
    /* Limite à une largeur maximale */
    height: 223px;
    /* Hauteur fixe */
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    filter: brightness(50%);
    /* S'assure que l'image couvre toute la zone sans distorsion */
}

.banner h2 {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    /* Centre le texte verticalement */
    left: 50%;
    /* Centre le texte horizontalement */
    transform: translate(-50%, -50%);
    /* Alignement centré */
    width: 100%;
    color: white;
    margin: 0;
    /* Enlève toute marge du texte */
}

/* Media queries */
@media (max-width: 768px) {
    .banner {
        width: 90%;
        height: auto;
    }

    .banner h2 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .banner h2 {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        left: 6%;
        top: 26%;
        width: 67%;
        transform: none;
        /* Réinitialise le transform */
    }
}

/* HomeBanner.css */
.banner-container {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    margin: 20px 0;
    /* Légère marge en haut et en bas */
    width: 100%;
    /* Prend toute la largeur de l'écran */
}

.banner {
    position: relative;
    width: 80%;
    /* Prend 80% de la largeur de l'écran */
    max-width: 1240px;
    /* Limite à une largeur maximale */
    height: 223px;
    /* Hauteur fixe */
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    /* S'assure que l'image couvre toute la zone sans distorsion */
}

.banner h2 {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    /* Centre le texte verticalement */
    left: 50%;
    /* Centre le texte horizontalement */
    transform: translate(-50%, -50%);
    /* Alignement centré */
    width: 100%;
    color: white;
    margin: 0;
    /* Enlève toute marge du texte */
}

/* Media queries */
@media (max-width: 768px) {
    .banner {
        width: 90%;
        height: auto;
    }

    .banner h2 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .banner h2 {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        left: 6%;
        top: 26%;
        width: 67%;
        transform: none;
        /* Réinitialise le transform */
    }
}

/* HomeBanner.css */
.banner-container {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    margin: 20px 0;
    /* Légère marge en haut et en bas */
    width: 100%;
    /* Prend toute la largeur de l'écran */
}

.banner {
    position: relative;
    width: 80%;
    /* Prend 80% de la largeur de l'écran */
    max-width: 1240px;
    /* Limite à une largeur maximale */
    height: 223px;
    /* Hauteur fixe */
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    /* S'assure que l'image couvre toute la zone sans distorsion */
}

.banner h2 {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    /* Centre le texte verticalement */
    left: 50%;
    /* Centre le texte horizontalement */
    transform: translate(-50%, -50%);
    /* Alignement centré */
    width: 100%;
    color: white;
    margin: 0;
    /* Enlève toute marge du texte */
}

/* Media queries */
@media (max-width: 768px) {
    .banner {
        width: 90%;
        height: auto;
    }

    .banner h2 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .banner h2 {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        left: 6%;
        top: 26%;
        width: 67%;
        transform: none;
        /* Réinitialise le transform */
    }
}